<div>
    <h1>{{foto.titulo}}</h1>

</div>

<form name="formulario" class="row" ng-submit="submeter()" novalidate> <!--novalidate indica para o html5 não validar o form-->
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input name="titulo" class="form-control" 
            ng-model="foto.titulo" 
            required
            ng-maxlength="20">    

            <!-- No angular é obrigatorio informar a mensagem 
            o ng-show é uma validação interna, podemos acessar os itens do form pelo name, 
            formulario.$submitted - so apresenta se o formulario for submetido-->
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" 
                class="form-control alert-danger">
                Título obrigatório
            </span>  
            
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                No máximo 20 caracteres!
            </span>

        </div>
        <div class="form-group">
            <label>URL</label>
            <input name="url" class="form-control" ng-model="foto.url" required>

            <span ng-show = "formulario.$submitted && formulario.url.$error.required" 
                class="form-control alert-danger">
                URL obrigatória
            </span> 

        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" class="form-control" ng-model="foto.descricao">
            </textarea>
        </div>

        <!-- ng-disabled="formulario.$invalid" = So apresenta o botao se o formulario for valido-->
        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
            Salvar
        </button>
         <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </div>
</form>